---
interface Props {
  firstName: string;
  lastName: string;
  position: string;
  number: number;
  caps: number;
  team: string;
  href: string;
  image: string;
}

const { href, firstName, lastName, position, team, number, caps, image } =
  Astro.props;
---

<li class="link-card flex list-none bg-[#23262d] rounded-lg">
  <a
    href={href}
    class="rounded-lg h-[315px] w-full text-neutral-100 bg-[#23262d]"
  >
    <div class="flex flex-col h-full">
      <img
        src={image}
        alt={`${firstName} ${lastName}`}
        class="w-full h-[80%] object-cover rounded-t-lg"
        transition:name={`img-${number}`}
      />
      <div class="flex justify-between items-center p-4 relative">
        <div>
          <h2 class="text-2xl">
            {firstName}<br />
            {lastName}
          </h2>
        </div>
        <p class="text-5xl text-slate-300/20 absolute right-2 md:relative">
          {number}
        </p>
      </div>
    </div>
  </a>
</li>
<style>
  .link-card {
    background-image: none;
    background-size: 400%;
    background-position: 100%;
    transition: background-position 0.9s cubic-bezier(0.22, 1, 0.36, 1);
  }
  .link-card > a {
    text-decoration: none;
    line-height: 1.4;
    opacity: 0.9;
  }
  h2 {
    transition: color 0.6s cubic-bezier(0.22, 1, 0.36, 1);
  }

  .link-card:is(:hover, :focus-within) {
    background-position: 0;
    background-image: var(--accent-gradient);
  }
  .link-card:is(:hover, :focus-within) h2 {
    color: rgb(var(--accent-light));
  }
</style>
