---
import { playerData } from "../../../player-data";
import Layout from "../../layouts/Layout.astro";
import PlayerTitle from "../../components/player/PlayerTitle.astro";
import PlayerInfo from "../../components/player/PlayerInfo.astro";
import NationalTeamStats from "../../components/player/NationalTeamStats.astro";

export function getStaticPaths() {
  const flattenedPlayers = Object.values(playerData).flat();
  return flattenedPlayers.map((player) => ({
    params: { player: player.href.split("/")[2] },
  }));
}

const { player: playerParam } = Astro.params;
const player = Object.values(playerData)
  .flat()
  .find((player) => player.href.split("/")[2] === playerParam);

const careerStats = Object.entries(player?.careerStats || {}) as [
  string,
  string | number,
][];

const mappedCareerStats = careerStats.map(([name, value]) => {
  name = name
    .replace(/([A-Z])/g, " $1")
    .replace(/^./, (str) => str.toUpperCase());

  return [name, value];
});

const slugifiedPlayerName = player?.href.split("/")[2];
const slugifiedTeamName = player?.team.toLowerCase().replace(/\s/g, "-");
---

<Layout title={`${player?.firstName} ${player?.lastName} | Muchachos`}>
  {
    player && (
      <div class="grid grid-cols-1 md:grid-cols-2 gap-4 pt-8">
        <div class="max-h-[40vh] md:max-h-[75vh]">
          <img
            src={`/players/${slugifiedPlayerName}.webp`}
            alt=""
            transition:name={`img-${player.number}`}
            class="object-cover rounded-md h-full"
          />
        </div>

        <div class="flex flex-col">
          <PlayerTitle
            firstName={player.firstName}
            lastName={player.lastName}
            number={player.number}
          />
          <PlayerInfo
            foot={player.foot}
            position={player.position}
            age={player.age}
            team={player.team}
            logoUrl={slugifiedTeamName!}
          />
          <NationalTeamStats stats={mappedCareerStats} />

          <div class="flex-1 flex flex-col mt-8">
            <h2 class="text-slate-300/50">World Cup 2022 Stats</h2>
            <div class="flex gap-x-8 gap-y-1 flex-wrap bg-slate-600/20 py-2 px-4 rounded-md mt-2">
              <div>
                <h3 class="text-slate-300/50">Matches</h3>
                <span class="text-3xl font-bold">
                  {player.tournamentStats.gamesPlayed}
                  {player.tournamentStats.asSubstitute > 0 && (
                    <span>({player.tournamentStats.asSubstitute})</span>
                  )}
                </span>
              </div>
              <div>
                <h3 class="text-slate-300/50">Average Rating</h3>
                <span class="text-3xl font-bold">
                  {player.tournamentStats.averageRating}
                </span>
              </div>
              <div>
                <h3 class="text-slate-300/50">Goals</h3>
                <span class="text-3xl font-bold">
                  {player.tournamentStats.goals}
                </span>
              </div>
              <div>
                <h3 class="text-slate-300/50">Assists</h3>
                <span class="text-3xl font-bold">
                  {player.tournamentStats.assists}
                </span>
              </div>
              <div>
                <h3 class="text-slate-300/50">Cards</h3>
                <div class="flex gap-2">
                  <div class="flex gap-1">
                    <div class="h-8 w-6 bg-yellow-400 rounded-sm" />
                    <span class="text-lg mt-auto leading-none">
                      x{player.tournamentStats.cards.yellow}
                    </span>
                  </div>
                  <div class="flex gap-1">
                    <div class="h-8 w-6 bg-red-400 rounded-sm" />
                    <span class="text-lg mt-auto leading-none">
                      x{player.tournamentStats.cards.red}
                    </span>
                  </div>
                </div>
              </div>
              <div>
                <h3 class="text-slate-300/50">Minutes</h3>
                <span class="text-3xl font-bold">
                  {player.tournamentStats.minutesPlayed}
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    )
  }
</Layout>
