---
import Layout from "../../layouts/Layout.astro";
import Foot from "../../components/Foot.astro";
import { playerData } from "../../../player-data";

export function getStaticPaths() {
  const flattenedPlayers = Object.values(playerData).flat();
  return flattenedPlayers.map((player) => ({
    params: { player: player.href.split("/")[2] },
  }));
}

const { player: playerParam } = Astro.params;
const player = Object.values(playerData)
  .flat()
  .find((player) => player.href.split("/")[2] === playerParam);

const careerStats = Object.entries(player?.careerStats || {}) as [
  string,
  string | number,
][];

const mappedCareerStats = careerStats.map(([name, value]) => {
  name = name
    .replace(/([A-Z])/g, " $1")
    .replace(/^./, (str) => str.toUpperCase());

  return [name, value];
});
---

<Layout title={`${player?.firstName} ${player?.lastName} | Muchachos`}>
  {
    player && (
      <div class="grid grid-cols-1 md:grid-cols-2 gap-4 pt-8 h-4/5">
        <img
          src={player.image}
          alt=""
          transition:name={`img-${player.number}`}
          class="object-cover rounded-md h-full"
        />
        <div class="flex flex-col">
          <div class="relative">
            <h2 class="absolute" transition:animate="slide">
              <>
                <span class="leading-9 text-3xl">{player.firstName}</span>
                <br />
              </>
              <span class="text-5xl leading-10">{player.lastName}</span>
            </h2>
            <span class="top-0 text-[10rem] text-slate-300/20 font-bold leading-none">
              {player.number}
            </span>
          </div>

          <div class="flex gap-x-8 gap-y-1 border-b-2 border-b-slate-300/20 pb-4 flex-wrap">
            <Foot foot={player.foot} />
            <span class="text-slate-300/20">|</span>
            <span>{player.position}</span>
            <span class="text-slate-300/20">|</span>
            <span>{player.age} years</span>
            <span class="text-slate-300/20">|</span>
            <div class="flex gap-2 items-center">
              <img src={player.clubLogo} alt="" class="h-6" />
              <span>{player.team}</span>
            </div>
          </div>

          <div class="mt-4">
            <h2 class="text-slate-300/50">National Team Stats</h2>
            <div class="mt-2 flex flex-wrap gap-x-4 gap-y-1">
              {mappedCareerStats.map(([name, value]) => (
                <div class="px-4 py-2 bg-slate-600/20 w-fit rounded-md">
                  <h3 class="text-sm text-slate-300/50">{name}</h3>
                  <p class="font-bold text-4xl">{value}</p>
                </div>
              ))}
            </div>
          </div>

          <div class="flex-1 flex flex-col mt-8">
            <h2 class="text-slate-300/50">World Cup 2022 Stats</h2>
            <div class="flex gap-x-8 gap-y-1 flex-wrap bg-slate-600/20 py-2 px-4 rounded-md mt-2">
              <div>
                <h3 class="text-slate-300/50">Matches</h3>
                <span class="text-3xl font-bold">
                  {player.tournamentStats.gamesPlayed}
                  {player.tournamentStats.asSubstitute > 0 && (
                    <span>({player.tournamentStats.asSubstitute})</span>
                  )}
                </span>
              </div>
              <div>
                <h3 class="text-slate-300/50">Average Rating</h3>
                <span class="text-3xl font-bold">
                  {player.tournamentStats.averageRating}
                </span>
              </div>
              <div>
                <h3 class="text-slate-300/50">Goals</h3>
                <span class="text-3xl font-bold">
                  {player.tournamentStats.goals}
                </span>
              </div>
              <div>
                <h3 class="text-slate-300/50">Assists</h3>
                <span class="text-3xl font-bold">
                  {player.tournamentStats.assists}
                </span>
              </div>
              <div>
                <h3 class="text-slate-300/50">Cards</h3>
                <div class="flex gap-2">
                  <div class="flex gap-1">
                    <div class="h-8 w-6 bg-yellow-400 rounded-sm" />
                    <span class="text-lg mt-auto leading-none">
                      x{player.tournamentStats.cards.yellow}
                    </span>
                  </div>
                  <div class="flex gap-1">
                    <div class="h-8 w-6 bg-red-400 rounded-sm" />
                    <span class="text-lg mt-auto leading-none">
                      x{player.tournamentStats.cards.red}
                    </span>
                  </div>
                </div>
              </div>
              <div>
                <h3 class="text-slate-300/50">Minutes</h3>
                <span class="text-3xl font-bold">
                  {player.tournamentStats.minutesPlayed}
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    )
  }
</Layout>
