---
import Layout from "../../layouts/Layout.astro";
import { playerData } from "../../../player-data";

export function getStaticPaths() {
  const flattenedPlayers = Object.values(playerData).flat();
  return flattenedPlayers.map((player) => ({
    params: { player: player.href.split("/")[2] },
  }));
}

const { player: playerParam } = Astro.params;
const player = Object.values(playerData)
  .flat()
  .find((player) => player.href.split("/")[2] === playerParam);
---

<Layout title={`${player?.firstName} ${player?.lastName} | Muchachos`}>
  <img
    src={player?.image}
    alt=""
    transition:name=`img-${player?.number}}`
    class="h-[400px] object-cover"
  />
  <h2 class="text-4xl" transition:name=`${player?.href}-name`>
    {player?.firstName}&nbsp;{player?.lastName}
  </h2>
  <p>
    #<span transition:name={`number-${player?.number}`}>{player?.number}</span>
     | {player?.position}
  </p>
</Layout>
